In [2]:
import warnings
import pandas as pd
import re
import itertools
import codecs
import json
import os

warnings.filterwarnings('ignore')

In [13]:
df = pd.DataFrame([])

data_full =pd.read_csv('data_full.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
data_full_1 =pd.read_csv('data_full_1.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
data_full_2 =pd.read_csv('data_full_2.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
data_full_3 =pd.read_csv('data_full_3.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
data_full_4 =pd.read_csv('data_full_4.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
data_full_5 =pd.read_csv('data_full_5.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
data_full_6 =pd.read_csv('data_full_6.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
data_full_7 =pd.read_csv('data_full_7.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
data_full_8 =pd.read_csv('data_full_8.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)

# data_5_1 =pd.read_csv('data_5_1.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_2 =pd.read_csv('data_5_2.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_3 =pd.read_csv('data_5_3.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_4 =pd.read_csv('data_5_4.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_5 =pd.read_csv('data_5_5.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_6 =pd.read_csv('data_5_6.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_8 =pd.read_csv('data_5_8.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_9 =pd.read_csv('data_5_9.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_10 =pd.read_csv('data_5_10.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_11 =pd.read_csv('data_5_11.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_12 =pd.read_csv('data_5_12.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_14 =pd.read_csv('data_5_14.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_15 =pd.read_csv('data_5_15.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_16 =pd.read_csv('data_5_16.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)

# data_5_7_1 =pd.read_csv('data_5_7_1.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_7_2 =pd.read_csv('data_5_7_2.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_7_4 =pd.read_csv('data_5_7_4.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_7_5 =pd.read_csv('data_5_7_5.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_7_6 =pd.read_csv('data_5_7_6.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)

# data_5_13_1 =pd.read_csv('data_5_13_1.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_13_3 =pd.read_csv('data_5_13_3.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_13_4 =pd.read_csv('data_5_13_4.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_13_5 =pd.read_csv('data_5_13_5.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
# data_5_13_6 =pd.read_csv('data_5_13_6.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)

In [14]:
frames = [data_full,
data_full_1,
data_full_2,
data_full_3,
data_full_4,
data_full_5,
data_full_6,
data_full_8,
data_full_7]
# [data_1, data_2,data_2,data_3,
# data_4,
# data_5_1,
# data_5_2,
# data_5_3,
# data_5_4,
# data_5_5,
# data_5_6,
# data_5_8,
# data_5_9,
# data_5_10,
# data_5_11,
# data_5_12,
# data_5_14,
# data_5_15,
# data_5_16,
# data_5_7_1,
# data_5_7_2,
# data_5_7_4,
# data_5_7_5,
# data_5_7_6,
# data_5_13_1,
# data_5_13_3,
# data_5_13_4,
# data_5_13_5,
# data_5_13_6]
df = pd.concat(frames, axis=0)
df.head()

,Unnamed: 0,Unnamed: 0.1,class,index,sentence
0,0,2.0,gulf,2.0,اتمنى من الاداره الهلاليه تنبه لمشكلتين في اله...
1,1,4.0,levantine,4.0,الة اكبر ما خلو علينا اشي وبحكو ليش بنهاجر وبن...
2,2,5.0,levantine,5.0,الامن ليس تبع الحكومه
3,3,10.0,general,10.0,و احد شطب ع كلمة عربية و كتب جنبها اسلامية
4,4,21.0,general,21.0,النجار

In [15]:
df.shape

(240066, 5)

In [28]:
df = df.drop_duplicates(subset=['sentence'])
df.shape

(236151, 2)

In [17]:
df = df.drop(["Unnamed: 0","Unnamed: 0.1" ,"index"], axis=1)
df.head()

       class                                           sentence
0       gulf  اتمنى من الاداره الهلاليه تنبه لمشكلتين في اله...
1  levantine  الة اكبر ما خلو علينا اشي وبحكو ليش بنهاجر وبن...
2  levantine                              الامن ليس تبع الحكومه
3    general         و احد شطب ع كلمة عربية و كتب جنبها اسلامية
4    general                                             النجار

In [18]:
df.to_csv("data_complete.csv", sep=';', encoding='utf-8')

In [30]:
df["class"].unique()

array(['gulf', 'levantine', 'general', 'egyptian', 'iraqi', 'notsure',
       'other', 'maghrebi', 'prompt', 'tunisien'], dtype=object)

In [38]:
td = df[df["class"].isin(['gulf', 'levantine', 'general', 'egyptian', 'iraqi','maghrebi', 'tunisien'])]
td.shape

(234952, 2)

In [42]:
td.to_csv("data_final.csv", sep=';', encoding='utf-8',index=False)

In [41]:
td.head()

       class                                           sentence
0       gulf  اتمنى من الاداره الهلاليه تنبه لمشكلتين في اله...
1  levantine  الة اكبر ما خلو علينا اشي وبحكو ليش بنهاجر وبن...
2  levantine                              الامن ليس تبع الحكومه
3    general         و احد شطب ع كلمة عربية و كتب جنبها اسلامية
4    general                                             النجار

In [8]:
import pandas as pd   
dt =pd.read_csv('data_ful_cleard.csv',encoding='utf-8',delimiter=';',error_bad_lines=False)
generale = dt[dt["label"]=="general"]
dfg = pd.DataFrame([])
dfg["text"] = (generale.sample(500))["text"]
dfg.to_csv("comments3.csv", sep=';', encoding='utf-8',index=False)
dfg.head()

                                      text
86245  المقيمة وعلاقتها استمرارية ومتواصلة
10214            من غاص غبات البحر جاب درى
12552     واله حرام الاعتزال يا دكتور علاء
9105      و بدل ما تشتري كيلوا اشتروا غرام
52190     وان شاء اله دايما البطولات خضراء